@import "tailwindcss";

/* .logos{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin: 14px;
} */

/* .box{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
} */
/* .title{
    display: flex;
} */
/* .nav{
    display: flex;
    gap: 32px;
    align-items: center;
    margin-right: 4%;
} */
/* .title_logo{
    font-family: cursive;
    margin-bottom: 2px;
} */

/* a{
    cursor: pointer;
    text-decoration: none;
    color: black;
} */